<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello Ahnaf Hasnain</h1>
    <h2><%= 3 * 4 %></h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis modi voluptatum maiores laborum dolor sed, officia laudantium velit facere voluptate in. Consectetur cupiditate doloribus, obcaecati minima assumenda impedit omnis nihil.</p>
    <button>Click Me</button>
</body>
</html>